.fondo{
    background-color: yellowgreen;
    color: brown;
    font-family: Arial;
}

.cabecera {
    background-color: brown;
    color: white;
}

.pie{
    background-color: brown;
    color: white;
}
